<script id="tmpl-ForceDirectedCluster" type="text/html">
	<div class="ForceDirectedCluster">
		<div class="container">
			<p>
			  <label for="level">Level:</label>
			  <input type="text" id="level" style="border: 0; color: #f6931f; font-weight: bold;" />
			</p>
	 
			<div id="level-slider"></div>
			
			<p>
			  <label for="zoom">Zoom:</label>
			  <input type="text" id="zoom" style="border: 0; color: #f6931f; font-weight: bold;" />
			</p>
	 
			<div id="zoom-slider"></div>			
		</div>
		<canvas id='demoCanvas' width='1500px' height='1000px'></canvas>
	</div>
</script>



